In [11]:
import os
import pandas as pd
import numpy as np
import csv
from pandas import DataFrame

In [12]:
df = DataFrame.from_csv("100K_Restaurants_reviews.tsv", sep="\t")

In [21]:
df.shape

(99999, 9)

In [24]:
list(df.columns.values)

['RestaurantName',
 'RestaurantId',
 'City',
 'Rating',
 'UserName',
 'UserId',
 'DateTime',
 'UserLink',
 'ReviewTxt']

In [39]:
df['City'].unique()

array(['Bangalore', 'Ahmedabad', 'Bhopal', 'Bhubaneswar', 'Chandigarh',
       'Allahabad', 'Amritsar', 'Aurangabad', 'Agra'], dtype=object)

In [34]:
df['UserLink']

ReviewId
7063897                     https://www.zomato.com/iamfoodman
7059469     https://www.zomato.com/users/vinoth-velu-20216230
7050151      https://www.zomato.com/users/ipshita-deb-2023120
7049203     https://www.zomato.com/users/kavita-kumar-2019...
7046773     https://www.zomato.com/users/pooja-patil-20187610
7042579                     https://www.zomato.com/Ajaigonner
7038796     https://www.zomato.com/users/gayatri-nair-2016...
7035571     https://www.zomato.com/users/padmini-pillai-20...
7033660     https://www.zomato.com/users/nivedita-basu-dey...
7033201                      https://www.zomato.com/varun8796
7028761                         https://www.zomato.com/buntym
7025191     https://www.zomato.com/users/shefali-bansal-49...
7025020     https://www.zomato.com/users/lovena-gonsalves-...
7020520     https://www.zomato.com/users/rahul-vakharia-23...
7018783     https://www.zomato.com/users/alpana-shah-16792570
7013965                         https://www.zomato.com/khanaa
7010554     https://www.zomato.com/users/meenakshi-shetty-...
7005082     https://www.zomato.com/users/dhriti-bhattachar...
6995641     https://www.zomato.com/users/parimita-choubey-...
6994894     https://www.zomato.com/users/sunita-mahajan-16...
6989350     https://www.zomato.com/users/megha-shetti-1397...
6985024                      https://www.zomato.com/rajatadri
6984580     https://www.zomato.com/users/pulkit-goenka-328904
6961057     https://www.zomato.com/users/ritesh-subudhi-11...
6958525     https://www.zomato.com/users/soumya-ranjan-166...
6945193                  https://www.zomato.com/rrajendrabhat
6940162     https://www.zomato.com/users/navneet-kaushal-1...
6931936        https://www.zomato.com/users/gayathri-16592296
6925444     https://www.zomato.com/users/priyanka-choudhur...
6908413        https://www.zomato.com/users/manideepa-3129856
                                  ...
130223      https://www.zomato.com/users/suhas-thotada-r-8...
23563559    https://www.zomato.com/users/prema-george-2918...
7614064                         https://www.zomato.com/hriday
7101508                    https://www.zomato.com/reverurjour
7026025                   https://www.zomato.com/shrutisuresh
6794749      https://www.zomato.com/users/easwaran-s-16247614
6786951     https://www.zomato.com/users/chirag-bharadwaj-...
6766809                   https://www.zomato.com/Sir_eatsalot
6738841                    https://www.zomato.com/sameeparora
6444732      https://www.zomato.com/users/ananth-kumar-100159
5171171     https://www.zomato.com/users/mahesh-alanthat-7...
3794951                https://www.zomato.com/HimanshuSuvarna
3691071     https://www.zomato.com/users/srivathsa-krishna...
3078651     https://www.zomato.com/users/raghav-ahujha-606...
2620521            https://www.zomato.com/users/snehal-397062
2480591                           https://www.zomato.com/fudi
1919891             https://www.zomato.com/users/amit-3534001
1031205                         https://www.zomato.com/rhlchd
980322      https://www.zomato.com/users/prabhakaran-balas...
869176      https://www.zomato.com/users/ayush-agarwal-225...
669654                      https://www.zomato.com/gluttonNo1
663422          https://www.zomato.com/users/medha-rao-351669
466514      https://www.zomato.com/users/sinjana-jana-1649709
386094          https://www.zomato.com/users/harshitha-366588
306165                       https://www.zomato.com/NetBramha
265061      https://www.zomato.com/users/veronika-peter-10...
157958                       https://www.zomato.com/anushajay
155847      https://www.zomato.com/users/pradeep-venkatesh...
138789                         https://www.zomato.com/pritham
23542279                         https://www.zomato.com/hasna
Name: UserLink, Length: 99999, dtype: object

In [35]:
sum(df['RestaurantName'].value_counts()>500)

60

In [37]:
len(df['RestaurantName'].unique())

1668

In [32]:
df['UserId'].value_counts()

897165      113
1893828      91
786242       85
407847       84
716805       80
453899       73
334993       66
256478       66
317705       62
119437       59
814771       58
1614255      58
724910       57
1161085      57
94962        57
477713       54
1542223      53
192551       51
802048       51
2377606      50
748487       50
475762       49
570985       48
311741       48
1023645      47
383427       47
240936       47
1183858      47
1571989      47
111177       46
           ...
330818        1
4916291       1
2309188       1
4416591       1
1969250       1
930917        1
267938        1
1473516       1
1199082       1
2139318       1
1612720       1
226125        1
414569        1
680815        1
1887904       1
14504841      1
238487        1
2100130       1
15618985      1
15780794      1
5493721       1
3235005       1
326588        1
1907648       1
838143        1
1786827       1
233369        1
11776981      1
500695        1
925276        1
Name: UserId, Length: 35196, dtype: int64